* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    box-sizing: content-box;
    background-color: #D3D3D3;
    height: 100%;
    width: 100%;
}

.pokemon-grid-container {
    padding: 50px;
}

.navbar {
    background-color: #dc3545 !important;
}

.col-4 {
    display: flex;
    justify-content: center;
    align-self: center;
}

.navbar-brand {
    color: white !important;
}

.pagination-buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.loader-img {
    display: flex;
    height: 100px;
    margin: 0 auto;
}

.form-select {
    width: 20%;
    margin: 0 20px;
}

.card {
    border: 5px solid #D3D3D3;
    padding: 10px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

}

.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.card-body {
    text-align: center;
}

.pagination-buttons-bottom-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;   
}

.single-card-container {
    margin-top: 2rem;
    padding: 0 20%;
}
@media only screen and (max-width: 600px) {
    .single-card-container {
      padding: 0;
    }
    
    .d-flex {
        display: block !important;
    }
    
    .form-control.me-2 {
        margin-bottom: 5px;
    }

    .navbar>.container-fluid {
        display: block !important;
        text-align: center;
    }

    .btn.btn-primary {
        display: block;
        margin: 10px auto;
        width: 80%;
    }
    button.btn.btn-danger {
        font-size: 0;
    }
    button:first-child.btn.btn-danger::before {
        color: white;
        font-size: 14px;
        content:"<<<"
    }

    button:last-child.btn.btn-danger::before {
        color: white;
        font-size: 14px;
        content:">>>"
    }

    .form-select {
        width: 30%;
        margin: 0 5px;
        font-size: 12px;
    }
    .form-select select {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }
  }

  .img-fluid {
    padding: 10px !important;
}

  .pokemon-page-container {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      background-color: white;
  }

  .right-column {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }

  .singlepokemon-type-container {
      width: 50%;
  }

  .display-6 {
      text-align: center;
  }

  .link-container {
      font-size: 12px;
      margin-top: 5px;
      text-align: center
  }

  .buttonContainer {
      text-align: center;
  }

  .search-form {
      align-items: center;
  }

  .search-form label {
      color: white;
      margin-left: 20px;
  }

  .search-form button {
      margin-left: 20px;
  }

  .card-footer {
      background-color: rgba(0,0,0,0.02);
  }

  .types-container {
      display: flex;
      justify-content: space-evenly;
      margin: 10% 0;
  }

  .types-container b {
      align-self: center;
  }

  .error-message {
      font-size: 30px;
      font-weight: bold;
      margin-top: 30px;
      text-align: center;

  }

  .type-container {
      border-radius: 10px;
      padding: 5px;
      text-align: center;
  }

  .grass {
      background-color: #D4E1CD;
      color: black
  }

  .poison {
      background-color: #F0D9FF;
      color: black;
  }

  .fire {
      background-color: #F6AE99;
      color: white;
  }

  .flying {
      background-color: burlywood;
      color: white;
  }

  .water {
      background-color:#B5DEFF;
      color: black;
  }

  .bug {
      background-color: #C1CFC0;
      color: black;    
  }

 

  .normal {
      background-color: wheat;
      color: black;
  }

  .electric {
      background-color: #FCFFA6;
      color: black;
  }

  .ground {
      background-color: #5E454B;
      color: white;
  }

  .fighting {
      background-color:#B5CDA3;
      color: white;
  }

  .rock {
      background-color: darkgrey;
      color: black; 
  }

  .dark {
      background-color: #907FA4;
      color: white;
  }

  .fairy {
        background-color: pink;
        color: black;
  }

  .dragon {
    background-color: olive;
    color: white;
  }

  .ice {
      background-color: lightblue;
      color: black;
  }

  .unknown {
    background-color: black;
    color: white;
  }

  .ghost {
      background-color: #BFA2DB;
      color: white;

  }
  .steel {
    background-color: darkslateblue;
    color: white;
  }

  .psychic {
    background-color: #E7EAB5;
    color: black;
  }